$size--2: clamp(0.625rem, 0.7083rem + -0.0694vw, 0.6944rem);
$size--1: clamp(0.8331rem, 0.823rem + 0.0506vw, 0.8838rem);
$size-0: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
$size-1: clamp(1.2rem, 1.0865rem + 0.5675vw, 1.7675rem);
$size-2: clamp(1.44rem, 1.2281rem + 1.0594vw, 2.4994rem);
$size-3: clamp(1.7281rem, 1.367rem + 1.8056vw, 3.5338rem);
$size-4: clamp(2.0738rem, 1.4891rem + 2.9231vw, 4.9969rem);
$size-5: clamp(2.4881rem, 1.5726rem + 4.5775vw, 7.0656rem);